.bold {
    font-weight: bold;
}

.hover tr:hover>td {
    background-color: #ffffee;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.middle {
    vertical-align: middle;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.rfloat {
    float: right;
}

.lfloat {
    float: left;
}

.ordered_asc {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url('../images/arrow_up.gif');
}

.ordered_desc {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url('../images/arrow_down.gif');
}

.noborder {
    border-style: none;
}

.nohl {
    color: #808080;
}

.no_js {
    font-size: 30px;
}

.underline {
    text-decoration: underline;
    color: white;
}

#activity_graph, #activity_histories_graph {
    height: 240px;
    margin-left: 5px;
}

#associated_user_histories_graph, #associated_user_counts_graph {
    height: 240px;
    margin-left: 5px;
}

#gmap_index {
    width: 920px;
    height: 500px;
}

#gmap_show {
    width: 430px;
    height: 227px;
}

#map_loading {
    position: absolute;
    width: 921px;
    height: 544px;
    margin-top: -545px;
    background-color: #ddd;
}

#map_loading p{
    font-size: 30px;
    margin-top: 250px;
    margin-left: 350px;
}

#loading {
    float: right;
    width: 200px;
    margin: 15px 0 !important;
    height: 20px;
    font-size: 20px    
}

#login {
    margin: 0 32%;
}

#access_points_quicksearch { float: left; width: 400px; margin: 15px 0  }

#access_points_quicksearch .spin {
    float: left;
    padding-right: 3px;
    margin-top: 4px;
}

#access_points_paginate .spin {
    float: left;
    padding-left: 1px;
    margin-top: 1px;
}
#clickable_notes, #clickable_site_description, #clickable_public, #clickable_category{
    cursor: pointer;
}
#category_text {
    display: none;
}

.with_border {
    border:1px dotted gray;
}

.green {
    color: #009933;
}

.red {
    color: #ff3333;
}

.highlighted td{
    background:#FFFF99 !important;
}

.spacer {
    padding:0 !important;
}

th {
    width: 30%;
}

ul.nav.main{ padding: 0 8px }

ul.nav.main li {
    color:#fff;
    background:#666;
    font-weight:bold;
    text-decoration:none;
    display:block;
    float:left;
    margin: 0 4px;
    height:2.4em;
    line-height:2.5em;
}

ul.nav li a {
    text-decoration:underline;
    padding:0;
}
ul.nav li a:hover{ background: #666666; text-decoration: none !important }
ul.nav li:hover{ background: #666666 }

/* pagination tweaks july 2012 */

.pagination{ float: left; margin: 4px 10px 0 0 }

.pagination a, a.button{
    padding: 4px 10px;
    margin: 0 3px 0 0;
    background: #333;
    color: #fff;
    border-radius: 3px;
}
a.button{ font-size: 13px }
.pagination a.button{ font-size: 12px }
.pagination a:hover, .pagination a:focus,
a.button:hover, a.button:focus{ background: #515252 }

.pagination .current{ font-weight: bold }
.pagination .current a{ background: #d3d3d3 !important; color: #333; cursor: default  }

#access_points_paginate{ overflow: hidden; margin-top: 18px; display: inline }
#access_points_quicksearch #q{ width: 200px; margin: 2px 0 0 5px }

#page_controls{ overflow: hidden; margin: 15px 0 }
#combobox{ float: left }
#combobox .ui-combobox input{ width: 29px; padding-left: 6px }

input.ui-autocomplete-input{ background: #fff none }
.ui-menu .ui-menu-item a{ padding: 1px 0 1px 4px !important }
.ui-combobox {
    float: left;
    width: 200px;
    position: relative;
}
.ui-combobox a{
    float: left;
    display: block;
    padding: 6px 0 7px;
}
.ui-combobox input{ float: left }
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}
.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}
.mainheading{ margin-left: 1% }
#export-controls{ margin-top: 10px }
#export-controls a{ float: left; height: 16px; line-height: 17px; padding-left: 20px; margin-right: 20px }
#export-controls a{ background: transparent url(../images/table.png) no-repeat scroll 0 center }
#export_link{ background-image: url(../images/page_excel.png) !important }

#progress-ind{
	position: fixed;
	z-index: 9999;
	display: none;
	width:55px;height:55px;
	background:#232323 url(../images/progress.gif) no-repeat scroll center center;
	border-radius:5px;
}

.clear{ clear: both }

.message{
    padding: 10px 15px;
	margin: 20px 10px 5px;
    font-size: 14px;
	font-weight:bold;
    color: #fff;
	text-align: center;
	border-radius: 5px;
}
.notice{ background-color: #3b6d08 }
.alert{ background-color: #ff6666 }
.message p{ margin: 0; text-align: center }
.message .close{
    background-color: #003500 !important;
    padding: 5px 10px;
    color: white;
    margin-left: 13px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
.alert .close{ background-color: #980000 !important }
.message .close:hover{ background-color: #000 !important }
.alert .close:hover{ background-color: #660000 !important }

#errorExplanation{
	margin: 10px 5px 20px;
	padding: 20px 25px 5px 25px;
	background: #ff6666;
	color: #fff;
	font: normal 13px "Arial", sans-serif;
	border-radius: 3px
}
#errorExplanation h2{
	width: auto; margin: 0; padding: 0; background: transparent; text-transform: none;
	font-size: 16px; font-weight: bold; margin-bottom: 10px;
}
#errorExplanation li{ font-weight: bold }
.field_with_errors input[type=text]{ border: 1px solid red }

#user_info p.clear{ margin-top: 10px }

#group_list th, #group_list td{ width: auto; vertical-align: middle }
#group_list .name{ padding-left: 1.2em }
#group_list td.name{ width: 200px }
#group_list .wisp{ width: 150px }
#group_list .up, #group_list .down, #group_list total{ width: 50px }
#group_list .total_users{ width: 100px }
#group_list { margin-bottom: 20px }

#group_form textarea{ width: 98%; height: 100px }
#group_form input[type=checkbox]{ width: auto }

#group_stats{ margin-top: 20px; padding-bottom: 10px; width: 98% }
#group_stats h2{ margin-bottom: 15px }
#group_stats p{ padding: 0 15px }

#user_roles .first{ padding-left: 30px }
#user_roles td.first{ padding-left: 100px }

table.selectable td{ cursor: pointer }
table.selectable td.first{ padding-left: 60px; background: #EEE url(../images/delete.png) no-repeat scroll 40px center }
table.selectable tr.selected td{ background-color: #fff1ce }
table.selectable tr.selected td.first{ background-image: url(../images/accept.png) }

input.submit{
	display: block;
	width: 40%;
	margin: 20px auto 10px;
	padding: 10px 20px;
    font: normal 15px Helvetica, Arial, Freesans, sans-serif;
	color: #545454;
	background: -moz-linear-gradient(top,#ffffff 0%,#cccccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#cccccc));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #fafafa;
	-moz-box-shadow: 0px 1px 2px rgba(000,000,000,0.4),inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:0px 1px 2px rgba(000,000,000,0.4),inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:0px 1px 2px rgba(000,000,000,0.4),inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:0px -1px 0px rgba(000,000,000,0.7),0px 1px 0px rgba(255,255,255,0.3);
    letter-spacing: 1px;
    cursor: pointer;
}