<h5><%=t :Cluster_info %></h5>
<table>
  <thead>
  <tr>
    <th><%=t :Status %></th>
    <th class="center"><%=t :Hostname %></th>
    <th></th>
  </tr>
  </thead>
  <tbody class="hover hotspots">
      <tr class="one_hotspot">
        <td><img src="" class="icon" alt="hotspot icon" width="30" height="35"></td>
        <td class="middle center hostname"></td>
        <td class="middle center"><a href="" class="url"><%=t :details %></a></td>
      </tr>
  </tbody>
</table>
